<DocsDemo as |demo|>
  <demo.example @name="notifications-example.hbs">
    <Notifications
      @triggerLabel="Notifications"
      @clearLabel="Clear"
      @emptyLabel="Empty"
      @notifications={{this.notifications}}
      @onClick={{this.select}}
      @onClear={{this.clear}}
      as |item notifications|
    >
      <notifications.item 
        @icon={{item.icon}}
        @title={{item.title}}
        @text={{item.message}}
        @date={{item.timestamp}}
        @onDismiss={{fn this.dismiss item}}
      />
    </Notifications>

    <div class="card card-body my-3">
      {{#if this.selected}}
        <Notifications::Item
          @icon={{this.selected.icon}}
          @title={{this.selected.title}}
          @text={{this.selected.message}}
          @date={{this.selected.timestamp}}
        />
      {{else}}
        <p class="text-center m-0">Select a notification to display it</p>
      {{/if}}
    </div>
  </demo.example>

  {{demo.snippet "notifications-example.hbs"}}
  {{demo.snippet "notifications-example.js" label="component.js"}}
</DocsDemo>