<div class="stats-row row py-lg-3 py-sm-2" ...attributes>
  {{#with (if @inline "col-6 col-lg-6 col-md-6 col-sm-12" "col-6 col-lg-6 col-md-6 col-sm-12") as |className|}}
    <div class="{{className}} mt-lg-0 mt-sm-2">
      {{@label}}
    </div>
    <div class="{{className}} mb-lg-0 mb-sm-2">
      {{#if (has-block)}}
        {{yield}}
      {{else if @value}}
        {{@value}}
      {{/if}}
    </div>
  {{/with}}
</div>