<div class="my-4">
  <DocsDemo as |demo|>
    <demo.example @name="language-switcher-demo-flags.hbs">
      <LanguageSwitcher @showFlags={{true}} />
    </demo.example>
    {{demo.snippet "language-switcher-demo-flags.hbs"}}    
  </DocsDemo>

  <DocsDemo as |demo|>    
    <demo.example @name="language-switcher-demo.hbs">
      <div class="px-4 py-4 bg-gray-1200">
        <LanguageSwitcher @white={{true}} @sm={{true}} />
      </div>
    </demo.example>

    {{demo.snippet "language-switcher-demo.hbs"}}
  </DocsDemo>
</div>
