<div class="search-field input-group {{bs-size-class "input-group" @size}}" ...attributes>
  <input
    type={{@type}}
    value={{@value}}
    name={{@name}}
    disabled={{@disabled}}
    placeholder={{if @placeholder @placeholder @label}}
    class="form-control"
    aria-label={{if @label @label @placeholder}}
    {{on "keydown" this.onKeyDown passive=true}}
    {{on "focusout" this.submit passive=true}}
    {{did-insert (fn this.inserted)}}
    {{will-destroy (fn this.removed)}}
    ...attributes
  />

  {{#if (and @onReset (not (is-empty @value)))}}
    <Icon::Ebf
      @icon="ebf-cancel search-field-reset"
      @type="dark"
      type="button"
      aria-label={{t "inputs.search.reset"}}
      @disabled={{@disabled}}
      @onClick={{@onReset}}
    />
  {{/if}}

  <div class="input-group-append">    
    <BsButton
      disabled={{disabled}}
      aria-disabled={{disabled}}
      aria-label={{t "inputs.search.label"}}
      @type="outline"        
      @onClick={{this.submit}}>        
      <Icon::Ebf @icon="ebf-search-l" /> 
    </BsButton>    
  </div>

</div>