<footer class="footer {{if @dark "footer-dark bg-gray-1200" "footer-light bg-white"}}" ...attributes>
  <div class="{{if @fluid "container-fluid" "container"}}">
    {{#if (has-block)}}
      {{yield (hash
        copyright=(component "layout/footer/copyright")
        version=(component "layout/footer/version")
        logo=(component "layout/footer/logo")
      )}}
    {{else}}
      <div class="row justify-content-between">
        <div class="col-6 col-md-6 col-sm-5 d-flex flex-wrap align-content-center text-left justify-content-start mr-auto">
          <a href="#" class="footer-brand">
            <Layout::Footer::Logo @url={{@logo}} @label={{@label}}/>
          </a>
        </div>  
      </div>
      <div class="row">
        <div class="col">
          <hr>
        </div>
      </div>
      <div class="row justify-content-between">
        <div class="col-md-4 col-sm-12 d-flex flex-wrap align-content-center text-left justify-content-start mb-lg-0 mb-md-0 mb-sm-3">
          <Layout::Footer::Copyright @label={{@copyright}}/>
        </div>  
        <div class="col-md-8 col-sm-12 d-flex flex-wrap text-right justify-content-lg-end justify-content-sm-start justify-content-md-end ">
          <Layout::Footer::Version @version={{@version}} />
        </div>
      </div>
      {{@value}}
    {{/if}}
  </div>
</footer>  