<div class="double-navbar-container sticky-top">
  <BsNavbar 
    @type="light"
    @backgroundColor="white"
    @collapsed={{true}}
    @fluid={{true}}
    class="sticky-top shadow-sm border-top-primary"  as |navbar|>
    <div class="navbar-header mr-auto">
      <LinkTo @route="examples.login" class="navbar-brand">
        <img src="/telekom-logo-magenta.svg"/ alt="Deutsche Telekom AG">
        <span class="label">Erleben, was verbindet.</span>
      </LinkTo>
      <navbar.toggle />
    </div>     
    <navbar.content class="ml-auto flex-grow-0">
      <navbar.nav class="flex-nowrap" as |nav|>
        <nav.item>
          <nav.link-to @route="index"><Icon::Ebf @icon="ebf-bell" /></nav.link-to>
        </nav.item>
        <nav.item>
          <nav.link-to @route="index"><Icon::Ebf @icon="ebf-settings" /></nav.link-to>
        </nav.item>
        <nav.item>
          <nav.link-to @route="index"><Icon::Ebf @icon="ebf-user" /></nav.link-to>
        </nav.item>
        <nav.item>
          <nav.link-to @route="index"><Icon::Ebf @icon="ebf-link-01" /></nav.link-to>
        </nav.item>
      </navbar.nav>
    </navbar.content>
  </BsNavbar>
  <BsNavbar 
  @type="light"
    @backgroundColor="white"
    @collapsed={{true}}
    @fluid={{true}}
     class="shadow-sm" as |navbar|>     
      <navbar.toggle class="mr-auto" />      
      <navbar.content class="flex-grow-1">
        <navbar.nav as |nav|>
          <nav.item>
            <nav.link-to @route="examples.webshop">Produkte</nav.link-to>
          </nav.item>
          <nav.item>
            <nav.link-to @route="examples.cost-center" class="active">Kostentelle</nav.link-to>
          </nav.item>
          <nav.item>
            <nav.link-to @route="examples.address-management">Adressmanagement</nav.link-to>
          </nav.item>
          <nav.item>
            <nav.link-to @route="examples.orders">Bestellungen</nav.link-to>
          </nav.item>
          <nav.item>
            <nav.link-to @route="examples.saved-shopping-cart-empty-state">Bestellvorlagen</nav.link-to>
          </nav.item>
        </navbar.nav>
      </navbar.content>
      <navbar.content class="ml-auto flex-grow-0">
        <navbar.nav as |nav|>           
          <nav.item>
            <nav.link-to @route="index"><Icon::Ebf @icon="ebf-settings" /></nav.link-to>
          </nav.item>            
        </navbar.nav>
      </navbar.content>    
  </BsNavbar>
</div>

<div class="d-flex flex-column flex-grow-1">
  <div class="container-fluid bg-gray-100">
    <div class="container py-9">    
      <div class="row">
        <div class="col-10">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><LinkTo @route="examples.dashboard" data-text="Dashboard">Dashboard</LinkTo></li>
              <li class="breadcrumb-item"><LinkTo @route="examples.cost-center" data-text="Kostenstelle">Kostenstelle</LinkTo></li>
              <li class="breadcrumb-item"><LinkTo @route="examples.cost-center-new" data-text="Neu Kostenstelle">Neu Kostenstelle</LinkTo></li>
            </ol>
          </nav>
          <h2>Neue Kostenstelle eingeben</h2>
          <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>      
      </div>
    </div>
  </div>

  <div class="container">  
    <div class="row">
      <div class="col-6 pt-5">
        <BsForm as |form|>
          <form.element
            @label="Kostenstelle name"
            @property="text"
            as |el|
          >
            <el.control name="name" placeholder="Prefilled Text" />
          </form.element>

          <form.element
            @label="Code"
            @property="text"
            as |el|
          >
            <el.control name="name" placeholder="Prefilled Text" />
          </form.element>

          <form.element
            @label="Beschreibung"
            @property="text"
            as |el|
          >
            <el.control name="name" placeholder="Prefilled Text" />
          </form.element>
      </BsForm>   
      </div> 
    </div>  
  </div>
</div>

<div class="container-fluid bg-white shadow">
  <div class="container py-4 d-flex align-items-center justify-content-between">
    {{link-to "Abbrechen" "examples.cost-center" class="btn btn-ghost text-decoration-none"}}
    {{link-to "Speichern" "examples.cost-center" class="btn btn-primary text-decoration-none"}}
  </div>
</div>
