{{!-- template-lint-disable  --}}
<div class="sticky-top shadow-sm bg-dark border-top-primary py-4">
  <div class="container">
    <div class="d-flex justify-content-center justify-content-md-between align-content-center mb-6">
      <p class="text-white mb-0 fs-4">Neues Angebot erstellen</p>
      <LinkTo @route="examples.dashboard" class="text-white text-decoration-none d-none d-md-flex">
        Abbrechen <Icon::Ebf @icon="ebf-cancel ml-2" />
      </LinkTo>
    </div>
    <div class="custom-progress-bar">
      <div class="progress-bar-item-container">
        <a href="" class="progress-bar-item completed">
          <span class="progress-dot"><Icon::Ebf @icon="ebf-check-mark" /></span>
          <span class="progress-label">Angebotsname</span>
        </a>     
        <a href="" class="progress-bar-item completed">
          <span class="progress-dot"><Icon::Ebf @icon="ebf-check-mark" /></span>
          <span class="progress-label">Kunde auswählen</span>
        </a>
        <a href="" class="progress-bar-item completed">
          <span class="progress-dot"><Icon::Ebf @icon="ebf-check-mark" /></span>
          <span class="progress-label">Produkte auswählen</span>
        </a>        
        <a href="" class="progress-bar-item active current">
          <span class="progress-dot">4</span>
          <span class="progress-label">Überblick</span>
        </a>        
      </div>
      <div class="progress">
        <div
          role="progressbar"
          class="progress-bar bg-primary"
          aria-valuenow="0"
          aria-valuemin="0"
          aria-valuemax="100"
          style="width: 0%;">
        </div>
      </div>
    </div>
    <LinkTo @route="examples.dashboard" class="btn btn-outline-white d-block d-md-none mt-9">
      <Icon::Ebf @icon="ebf-cancel mr-2" />Abbrechen
    </LinkTo>
  </div>
</div>

<div class="container-fluid bg-gray-100 px-0">
  <div class="container py-5 py-lg-9">    
    <div class="row">
      <div class="col-12 col-md-6 col-lg-10">
        <h2>Überblick</h2>
        <p class="mb-0">Bitte prüfen Sie alle Auswahlpunkte für Ihr Angebot sorgfältig. Preis- und Betragsänderungen können Sie jederzeit direkt hier vornehmen.</p>
      </div>    
    </div>
  </div>
</div>

<div class="container d-flex flex-column flex-grow-1">
  <div class="row">
    <Stats @title="Bestellinformationen Übersicht" @inline={{true}} class="w-100 col mb-0" as |stats|>        
      <stats.row @label="Name" @value="A210225-001-01" />
      <stats.row @label="Kunde" @value="TÜV Rheinland AG" />
    </Stats>     
  </div>
</div>

<div class="container">
  <div class="row row-cols-1">
    <div class="col mb-4">
      <div class="card  card-hover text-left">
        <div class="card-body py-4">
          <div class="row">            
            <div class="d-none d-lg-flex col-lg-2 justify-content-center align-items-center">
              <img src="https://egs-cdn.telekom-dienste.de/product-images/356048de-d4e2-49d8-bbea-157a74841de8/default/apple-iphone-xr-schwarz.png" alt="Apple iPhone XR 64 GB (Schwarz)"/>
            </div>
            <div class="col-12 col-lg-10">
              <div class="row align-items-start">
                <div class="col-10">
                  <h6>Apple iPhone XR 64 GB (Schwarz)</h6>
                  <p class="fs-2 mb-0">Kartentyp: 4 x TripleSIM</p>
                </div>
                <div class="col-2 d-flex justify-content-end">
                  <BsButton @type="ghost" class="btn-icon">
                    <Icon::Ebf @icon="ebf-trash" />
                  </BsButton>
                </div>
              </div>
              <hr class="d-none my-4 d-lg-flex">              
              <div class="row align-items-end mt-4 mt-lg-0">
                <div class="col-6 col-lg-2 d-flex flex-column">
                  <span class="fs-5 font-weight-medium">1.212,56 €</span>
                  <label class="mb-0">Original Price</label>
                </div>
                <div class="col-6 col-lg-2 d-flex flex-column">
                  <span class="fs-5 font-weight-medium">1.212,56 €</span>
                  <label class="mb-0">Approved Price</label>
                </div>
                <div class="col-12 d-block d-lg-none">
                  <hr class="my-4"/>
                </div>
                <div class="col-12 col-lg-5 col-xl-6">
                  <div class="row">
                    <div class="col-7 col-md-4ker  col-lg-6 col-xl-4 offset-xl-3">
                      <form class="mr-0 d-flex flex-shrink-0 flex-column">
                        <label>Anzahl</label>
                        <Inputs::Counter
                          @label={{this.value}}
                          @placeholder="20"
                          @min="1"
                          @max="999"
                          @value={{this.value}}
                          @onChange={{fn (mut this.value)}}
                        />
                      </form>
                    </div>
                    <div class="col-1 pt-4 pt-lg-0 d-flex align-items-end justify-content-center">
                      <span class="pb-3 pb-lg-2">x</span>
                    </div>
                    <div class="col-10 col-lg-5 col-xl-4 pt-4 pt-lg-0">
                      <form class="mr-0 d-flex flex-column w-100 w-lg-auto">
                        <label>Offer Price</label>
                        <input type="text" class="form-control" aria-describedby="Price" value="255,00 €" placeholder="0 €">
                      </form>
                    </div>                    
                  </div>
                </div>
                <div class="col-12 col-lg-3 col-xl-2 d-flex flex-column text-left text-lg-right pt-4 pt-lg-0">
                  <span class="fs-5 text-primary font-weight-bolder">34.212,56 €</span>
                  <label class="mb-0">Einmalig (netto)</label>
                </div>
              </div>
            </div>
          </div>        
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container d-flex flex-column flex-grow-1"> 
  <div class="row">
    <Stats @title="Details" @inline={{true}} class="w-100 col mb-0" as |stats|>        
      <stats.row @label="Devices">
        <div class="row">
          <div class="col-5 text-left">Apple iPhone 12 Max Pro</div>
          <div class="col-4 text-right">
            <span>450,00 €</span>
            <span class="ml-2">x</span>
            <span>30</span>
          </div>
          <div class="col-3 text-right">
            13.500,00 €
          </div>
        </div>
      </stats.row>
      <stats.row @label="Accessories">
        <div class="row">
          <div class="col-5 text-left">BSP-QS</div>
          <div class="col-4 text-right">
            <span>450,00 €</span>
            <span class="ml-2">x</span>
            <span>30</span>
          </div>
          <div class="col-3 text-right">
            13.500,00 €
          </div>
        </div>
      </stats.row>
      <stats.row @label="Accessories">
        <div class="row">
          <div class="col-5 text-left">Am Propsthof 49</div>
          <div class="col-4 text-right">
            <span>450,00 €</span>
            <span class="ml-2">x</span>
            <span>30</span>
          </div>
          <div class="col-3 text-right">
            13.500,00 €
          </div>
        </div>
      </stats.row>
      <stats.row @label="Staging">
        <div class="row">
          <div class="col-5 text-left">53121 Bonn</div>
          <div class="col-4 text-right">
            <span>14,00 €</span>
            <span class="ml-2">x</span>
            <span>30</span>
          </div>
          <div class="col-3 text-right">
            420,00 €
          </div>
        </div>
      </stats.row>
      <stats.row @label="Solutions">
        <div class="row">
          <div class="col-5 text-left">53121 Bonn</div>
          <div class="col-4 text-right">
            <span>195,00 €</span>
            <span class="ml-2">x</span>
            <span>1</span>
          </div>
          <div class="col-3 text-right">
            195,00 €
          </div>
        </div>
      </stats.row>
      <stats.row>
        <div class="row">         
          <div class="col-12 text-right font-weight-bold">
            <span>Total:</span>
            <span class="text-primary ml-2">21.649,00 €</span>           
          </div>
        </div>
      </stats.row>
    </Stats>     
  </div>

</div>

<div class="container-fluid bg-white shadow">
  <div class="container py-4 d-flex align-items-center flex-column flex-md-row justify-content-md-between"> 
    <LinkTo @route="examples.offer-config-wizard-step-03-devices" class="btn btn-ghost w-100 w-md-auto mb-4 mb-md-0">
      Züruck
    </LinkTo>
    <LinkTo @route="examples.offer-config-wizard-step-04-overview" class="btn btn-primary w-100 w-md-auto">Angebot erstellen</LinkTo>    
  </div>
</div>


<BsButton @type="ghost" class="btn-icon btn-round shadow summary-popover-trigger">
  <Icon::Ebf @icon="ebf-list" /> 
  <BsPopover @placement="top" @title="Zusammenfassung" class="summary-popover">
    <div class="row customer-details row-bb">
      <div class="col-4">Number:</div>
      <div class="col-8"><strong>274862</strong></div>
      <div class="col-4">Name:</div>
      <div class="col-8"><strong>Projekt Domspitze</strong></div>
      <div class="col-4">Customer:</div>
      <div class="col-8"><strong>TÜV Rheinland AG</strong></div>
    </div>
    <div class="row items">
      <div class="col">
        <div class="row item-row row-bb">
          <div class="col-10">
            <Icon::Ebf @icon="ebf-check-mark mr-2" />
            <p>Apple iPhone 12 Max Pro, White, 128 GB</p>            
          </div>
          <div class="col-2">
            <Icon::Ebf @icon="ebf-cancel" />
          </div>
          <div class="col-12">
            <label>Quantity: 22</label>
          </div>
        </div>
        <div class="row item-row row-bb">
          <div class="col-10">
            <Icon::Ebf @icon="ebf-check-mark mr-2" />
            <p>Apple iPhone 12 Max Pro, White, 128 GB</p>
          </div>
          <div class="col-2">
            <Icon::Ebf @icon="ebf-cancel" />
          </div>
          <div class="col-12">
            <label>Quantity: 22</label>
          </div>
        </div>
        <div class="row item-row row-bb">
          <div class="col-10">
            <Icon::Ebf @icon="ebf-check-mark mr-2" />
            <p>Apple iPhone 12 Max Pro, White, 128 GB</p>
          </div>
          <div class="col-2">
            <Icon::Ebf @icon="ebf-cancel" />
          </div>
          <div class="col-12">
            <label>Quantity: 22</label>
          </div>
        </div>
        <div class="row item-row row-bb">
          <div class="col-10">
            <Icon::Ebf @icon="ebf-check-mark mr-2" />
            <p>Apple iPhone 12 Max Pro, White, 128 GB</p>
          </div>
          <div class="col-2">
            <Icon::Ebf @icon="ebf-cancel" />
          </div>
          <div class="col-12">
            <label>Quantity: 22</label>
          </div>
        </div>
        <div class="row item-row row-bb">
          <div class="col-10">
            <Icon::Ebf @icon="ebf-check-mark mr-2" />
            <p>Apple iPhone 12 Max Pro, White, 128 GB</p>
          </div>
          <div class="col-2">
            <Icon::Ebf @icon="ebf-cancel" />
          </div>
          <div class="col-12">
            <label>Quantity: 22</label>
          </div>
        </div>
        <div class="row item-row row-bb">
          <div class="col-10">
            <Icon::Ebf @icon="ebf-check-mark mr-2" />
            <p>Apple iPhone 12 Max Pro, White, 128 GB</p>
          </div>
          <div class="col-2">
            <Icon::Ebf @icon="ebf-cancel" />
          </div>
          <div class="col-12">
            <label>Quantity: 22</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row total">
      <div class="col">
        Total 116,93 €
      </div>
    </div>    
  </BsPopover>
</BsButton>