{{!-- template-lint-disable  --}}
<div class="sticky-top shadow-sm bg-dark border-top-primary py-4">
  <div class="container">
    <div class="d-flex justify-content-center justify-content-md-between align-content-center mb-6">
      <p class="text-white mb-0 fs-4">Neues Angebot erstellen</p>
      <LinkTo @route="examples.dashboard" class="text-white text-decoration-none d-none d-md-flex">
        Abbrechen <Icon::Ebf @icon="ebf-cancel ml-2" />
      </LinkTo>
    </div>
    <div class="custom-progress-bar">
      <div class="progress-bar-item-container">
        <a href="" class="progress-bar-item completed">
          <span class="progress-dot"><Icon::Ebf @icon="ebf-check-mark" /></span>
          <span class="progress-label">Angebotsname</span>
        </a>     
        <a href="" class="progress-bar-item completed">
          <span class="progress-dot"><Icon::Ebf @icon="ebf-check-mark" /></span>
          <span class="progress-label">Kunde auswählen</span>
        </a>
        <a href="" class="progress-bar-item active current">
          <span class="progress-dot">3</span>
          <span class="progress-label">Produkte auswählen</span>
        </a>        
        <a href="" class="progress-bar-item">
          <span class="progress-dot">4</span>
          <span class="progress-label">Überblick</span>
        </a>        
      </div>
      <div class="progress">
        <div
          role="progressbar"
          class="progress-bar bg-primary"
          aria-valuenow="0"
          aria-valuemin="0"
          aria-valuemax="100"
          style="width: 0%;">
        </div>
      </div>
    </div>
    <LinkTo @route="examples.dashboard" class="btn btn-outline-white d-block d-md-none mt-9">
      <Icon::Ebf @icon="ebf-cancel mr-2" />Abbrechen
    </LinkTo>
  </div>
</div>

<div class="container-fluid bg-gray-100 px-0">
  <div class="container py-5 py-lg-9">    
    <div class="row">
      <div class="col-12 col-md-6 col-lg-10">
        <h2>Produkte auswählen - Lösungen</h2>
        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod </p>
      </div>    
    </div>
  </div>
  <div class="container">
    <BsNav @type="xl" class="nav-custom-tabs" as |nav|>
      <nav.item>
        <nav.link-to @route="examples.offer-config-wizard-step-03-devices">Geräte</nav.link-to>
      </nav.item>
      <nav.item>
        <nav.link-to @route="examples.offer-config-wizard-step-03-accessories">Zubehör</nav.link-to>
      </nav.item>            
      <nav.item>
        <nav.link-to @route="examples.offer-config-wizard-step-03-services">Services</nav.link-to>
      </nav.item>            
      <nav.item>
        <nav.link-to @route="examples.offer-config-wizard-step-03-solutions-details-uem">Solutions</nav.link-to>
      </nav.item>            
      <nav.item>
        <nav.link-to @route="examples.offer-config-wizard-step-03-pakete">Pakete</nav.link-to>
      </nav.item>            
    </BsNav>
  </div>
</div>
  
<div class="container">
  <div class="row py-5 py-md-9"> 
    <LinkTo @route="examples.offer-config-wizard-step-03-solutions" class="btn btn-link w-100 w-md-auto mb-0">
      <Icon::Ebf @icon="ebf-chevron-left mr-2" />Züruck
    </LinkTo>
  </div>
  <div class="row">
    <div class="col text-center pb-5 pb-md-9">
      <h3>UEM Services</h3>
      <p>Sie können entweder UEM Cloud oder UEM Private wählen</p>
    </div>
  </div>

  <BsTab @customTabs={{true}} as |tab|>
    <BsNav @type="tabs" class="nav-custom-tabs-options" as |nav|>
      <nav.item @active={{bs-eq tab.activeId "pane1"}}>
        <a href="#pane1" class="btn btn-outline no-scale" role="tab" {{action tab.select "pane1"}}>
          Cloud
        </a>
      </nav.item>
      <nav.item @active={{bs-eq tab.activeId "pane2"}}>
        <a href="#pane1" class="btn btn-outline no-scale" role="tab" {{action tab.select "pane2"}}>
          Private
        </a>
      </nav.item>
    </BsNav>
    <div class="tab-content">
      <tab.pane @id="pane1" @title="Cloud">
        <div class="row mb-4">
          <div class="col-12 offset-0 col-xl-8 offset-xl-2">
            <div class="card card-solutions card-hover">
              <div class="row card-body">          
                <div class="col-2 col-md-1">
                  <div class="custom-control custom-checkbox pt-2 pt-md-0">
                    <input type="checkbox" class="custom-control-input" id="customCheck4" name="example4">
                    <label class="custom-control-label" for="customCheck4"></label>
                  </div>
                </div>
                <div class="card-image col-lg-2 d-none d-lg-block">
                  <img src="/pictograms/solutions/bundle-secure-uem.png" alt="Bundle Secure UEM">
                </div>   
                <div class="col-10 col-md-4 col-lg-3">
                  <div class="card-title">Bundle Secure UEM</div>
                  <BsButton @type="link" class="px-0 py-0" @onClick={{fn (mut this.modal) true}}>Einzelheiten</BsButton>
                </div>
                <div class="price-holder col-10 offset-2 col-md-3 col-lg-3 offset-md-0 d-flex flex-column">
                  <div class="price">249,00 €</div>
                  <label>Pro Gerät / monatlich</label>
                </div>
                <div class="col-10 offset-2 col-md-4 col-lg-3 offset-md-0 d-flex justify-content-start justify-content-md-end">
                  <form>             
                    <Inputs::Counter
                      @label={{this.value}}
                      @placeholder="1"
                      @min="1"
                      @max="999"
                      @value={{this.value}}
                      @onChange={{fn (mut this.value)}}
                    />
                  </form> 
                </div>      
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-12 offset-0 col-xl-8 offset-xl-2">
            <div class="card card-solutions card-hover">
              <div class="row card-body">          
                <div class="col-2 col-md-1">
                  <div class="custom-control custom-checkbox pt-2 pt-md-0">
                    <input type="checkbox" class="custom-control-input" id="customCheck4" name="example4">
                    <label class="custom-control-label" for="customCheck4"></label>
                  </div>
                </div>
                <div class="card-image col-lg-2 d-none d-lg-block">
                  <img src="/pictograms/solutions/bundle-secure-uem-premium.png" alt="Bundle Secure UEM Premium">
                </div>   
                <div class="col-10 col-md-4 col-lg-3">
                  <div class="card-title">Bundle Secure UEM Premium</div>
                  <BsButton @type="link" class="px-0 py-0" @onClick={{fn (mut this.modal) true}}>Einzelheiten</BsButton>
                </div>
                <div class="price-holder col-10 offset-2 col-md-3 col-lg-3 offset-md-0 d-flex flex-column">
                  <div class="price">249,00 €</div>
                  <label>Pro Gerät / monatlich</label>
                </div>
                <div class="col-10 offset-2 col-md-4 col-lg-3 offset-md-0 d-flex justify-content-start justify-content-md-end">
                  <form>             
                    <Inputs::Counter
                      @label={{this.value}}
                      @placeholder="1"
                      @min="1"
                      @max="999"
                      @value={{this.value}}
                      @onChange={{fn (mut this.value)}}
                    />
                  </form> 
                </div>      
              </div>
            </div>
          </div>
        </div>        
      </tab.pane>
      <tab.pane @id="pane2" @title="Private">
        <div class="row mb-4">
          <div class="col-12 offset-0 col-xl-8 offset-xl-2">
            <div class="card card-solutions card-hover">
              <div class="row card-body">          
                <div class="col-2 col-md-1">
                  <div class="custom-control custom-checkbox pt-2 pt-md-0">
                    <input type="checkbox" class="custom-control-input" id="customCheck4" name="example4">
                    <label class="custom-control-label" for="customCheck4"></label>
                  </div>
                </div>
                <div class="card-image col-lg-2 d-none d-lg-block">
                  <img src="/pictograms/solutions/bundle-secure-uem.png" alt="Bundle Secure UEM">
                </div>   
                <div class="col-10 col-md-4 col-lg-3">
                  <div class="card-title">Bundle Secure UEM</div>
                  <BsButton @type="link" class="px-0 py-0" @onClick={{fn (mut this.modal) true}}>Einzelheiten</BsButton>
                </div>
                <div class="price-holder col-10 offset-2 col-md-3 col-lg-3 offset-md-0 d-flex flex-column">
                  <div class="price">249,00 €</div>
                  <label>Pro Gerät / monatlich</label>
                </div>
                <div class="col-10 offset-2 col-md-4 col-lg-3 offset-md-0 d-flex justify-content-start justify-content-md-end">
                  <form>             
                    <Inputs::Counter
                      @label={{this.value}}
                      @placeholder="1"
                      @min="1"
                      @max="999"
                      @value={{this.value}}
                      @onChange={{fn (mut this.value)}}
                    />
                  </form> 
                </div>      
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-12 offset-0 col-xl-8 offset-xl-2">
            <div class="card card-solutions card-hover">
              <div class="row card-body">          
                <div class="col-2 col-md-1">
                  <div class="custom-control custom-checkbox pt-2 pt-md-0">
                    <input type="checkbox" class="custom-control-input" id="customCheck4" name="example4">
                    <label class="custom-control-label" for="customCheck4"></label>
                  </div>
                </div>
                <div class="card-image col-lg-2 d-none d-lg-block">
                  <img src="/pictograms/solutions/bundle-secure-uem-premium.png" alt="Bundle Secure UEM Premium">
                </div>   
                <div class="col-10 col-md-4 col-lg-3">
                  <div class="card-title">Bundle Secure UEM Premium</div>
                  <BsButton @type="link" class="px-0 py-0" @onClick={{fn (mut this.modal) true}}>Einzelheiten</BsButton>
                </div>
                <div class="price-holder col-10 offset-2 col-md-3 col-lg-3 offset-md-0 d-flex flex-column">
                  <div class="price">249,00 €</div>
                  <label>Pro Gerät / monatlich</label>
                </div>
                <div class="col-10 offset-2 col-md-4 col-lg-3 offset-md-0 d-flex justify-content-start justify-content-md-end">
                  <form>             
                    <Inputs::Counter
                      @label={{this.value}}
                      @placeholder="1"
                      @min="1"
                      @max="999"
                      @value={{this.value}}
                      @onChange={{fn (mut this.value)}}
                    />
                  </form> 
                </div>      
              </div>
            </div>
          </div>
        </div>
      </tab.pane>
    </div>
  </BsTab>

  <div class="row">
    <div class="col mt-5 text-center">
      <p>Choose at least one UEM product for your offer. Minimum item selection for both options is 200 items</p>
    </div>
  </div>     
  <div class="row mt-5 mb-9">
    <div class="col-12 col-xl-8 offset-0 offset-xl-2 d-flex justify-content-end">    
      <BsButton @type="primary" @onClick={{fn (mut this.simple) true}} class="w-100 w-md-auto">zum Angebot hinzufügen</BsButton>
    </div>
  </div>
</div>

<div class="container">
  <hr>
  <div class="row">
    <div class="col text-center py-5 py-md-9">
      <h3>Options</h3>
      <p>Wählen Sie zusätzliche Optionen für Ihr UEM-Paket.</p>
    </div>
  </div>
</div>

<div class="container">
  <BsTab @customTabs={{true}} as |tab|>
    <BsNav @size="lg" @type="tabs" class="nav-custom-tabs-options" as |nav|>
      <nav.item @active={{bs-eq tab.activeId "support"}}>
        <a href="#support" class="btn btn-outline no-scale" role="tab" {{action tab.select "support"}}>
          Support Services
        </a>
      </nav.item>
      <nav.item @active={{bs-eq tab.activeId "services"}}>
        <a href="#services" class="btn btn-outline no-scale" role="tab" {{action tab.select "services"}}>
          Service Options
        </a>
      </nav.item>
      <nav.item @active={{bs-eq tab.activeId "subscription"}}>
        <a href="#subscription" class="btn btn-outline no-scale" role="tab" {{action tab.select "subscription"}}>
          Subscription Addons
        </a>
      </nav.item>
    </BsNav>
    <div class="tab-content">
      <tab.pane @id="support" @title="Support Services">
        <div class="row">
          <div class="col text-center mb-5 mb-md-9">
            <h4>Support-Services</h4>
            <p>Wählen Sie die gewünschten Supportleistungen für Ihr Angebot. Sie können mehrere Produkte auswählen.</p>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-12 offset-0 col-xl-8 offset-xl-2">
            <div class="card card-solutions card-hover">
              <div class="row card-body">          
                <div class="col-2 col-md-1">
                  <div class="custom-control custom-checkbox pt-2 pt-md-0">
                    <input type="checkbox" class="custom-control-input" id="customCheck4" name="example4">
                    <label class="custom-control-label" for="customCheck4"></label>
                  </div>
                </div>
                <div class="col-10 col-md-4 col-lg-4 col-xl-5">
                  <div class="card-title">4h support package</div>
                  <BsButton @type="link" class="px-0 py-0" @onClick={{fn (mut this.modal) true}}>
                    Einzelheiten
                  </BsButton>
                </div>
                <div class="price-holder col-10 offset-2 col-md-3 offset-md-0 col-xl-2 d-flex flex-column">
                  <div class="price">249,00 €</div>
                  <label>Additional Text</label>
                </div>
                <div class="col-10 offset-2 col-md-4 offset-md-0 d-flex justify-content-start justify-content-md-end">
                  <form>             
                    <Inputs::Counter
                      @label={{this.value}}
                      @placeholder="1"
                      @min="1"
                      @max="999"
                      @value={{this.value}}
                      @onChange={{fn (mut this.value)}}
                    />
                  </form> 
                </div>      
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-12 offset-0 col-xl-8 offset-xl-2">
            <div class="card card-solutions card-hover">
              <div class="row card-body">          
                <div class="col-2 col-md-1">
                  <div class="custom-control custom-checkbox pt-2 pt-md-0">
                    <input type="checkbox" class="custom-control-input" id="customCheck4" name="example4">
                    <label class="custom-control-label" for="customCheck4"></label>
                  </div>
                </div>
                <div class="col-10 col-md-4 col-lg-4 col-xl-5">
                  <div class="card-title">2h support package</div>
                  <BsButton @type="link" class="px-0 py-0" @onClick={{fn (mut this.modal) true}}>
                    Einzelheiten
                  </BsButton>
                </div>
                <div class="price-holder col-10 offset-2 col-md-3 offset-md-0 col-xl-2 d-flex flex-column">
                  <div class="price">249,00 €</div>
                  <label>Additional Text</label>
                </div>
                <div class="col-10 offset-2 col-md-4 offset-md-0 d-flex justify-content-start justify-content-md-end">
                  <form>             
                    <Inputs::Counter
                      @label={{this.value}}
                      @placeholder="1"
                      @min="1"
                      @max="999"
                      @value={{this.value}}
                      @onChange={{fn (mut this.value)}}
                    />
                  </form> 
                </div>      
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-12 offset-0 col-xl-8 offset-xl-2">
            <div class="card card-solutions card-hover">
              <div class="row card-body">          
                <div class="col-2 col-md-1">
                  <div class="custom-control custom-checkbox pt-2 pt-md-0">
                    <input type="checkbox" class="custom-control-input" id="customCheck4" name="example4">
                    <label class="custom-control-label" for="customCheck4"></label>
                  </div>
                </div>
                <div class="col-10 col-md-4 col-lg-4 col-xl-5">
                  <div class="card-title">One Day On Premise</div>
                  <BsButton @type="link" class="px-0 py-0" @onClick={{fn (mut this.modal) true}}>
                    Einzelheiten
                  </BsButton>
                </div>
                <div class="price-holder col-10 offset-2 col-md-3 offset-md-0 col-xl-2 d-flex flex-column">
                  <div class="price">249,00 €</div>
                  <label>Additional Text</label>
                </div>
                <div class="col-10 offset-2 col-md-4 offset-md-0 d-flex justify-content-start justify-content-md-end">
                  <form>             
                    <Inputs::Counter
                      @label={{this.value}}
                      @placeholder="1"
                      @min="1"
                      @max="999"
                      @value={{this.value}}
                      @onChange={{fn (mut this.value)}}
                    />
                  </form> 
                </div>      
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5 mb-9">
          <div class="col-12 col-xl-8 offset-0 offset-xl-2 d-flex justify-content-end">    
            <BsButton @type="primary" @onClick={{fn (mut this.simple) true}} class="w-100 w-md-auto">zum Angebot hinzufügen</BsButton>
          </div>
        </div>
        <div class="row">
          <div class="col text-center mb-5 mb-md-9">
            <h4>Support Availability</h4>
            <p>Wählen Sie eine Option.</p>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-12 offset-0 col-xl-8 offset-xl-2">
            <div class="card card-solutions card-hover">
              <div class="row card-body">          
                <div class="col-2 col-md-1">
                  <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="customRadio1" name="example1" value="customEx">
                    <label class="custom-control-label" for="customRadio1"></label>
                  </div>
                </div>
                <div class="col-10 col-md-8  col-xl-9">
                  <div class="card-title">Support 15/5</div>
                  <BsButton @type="link" class="px-0 py-0" @onClick={{fn (mut this.modal) true}}>
                    Einzelheiten
                  </BsButton>
                </div>
                <div class="price-holder col-10 offset-2 col-md-3 offset-md-0 col-xl-2 d-flex flex-column">
                  <div class="price">249,00 €</div>
                  <label>Additional Text</label>
                </div>                      
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-12 offset-0 col-xl-8 offset-xl-2">
            <div class="card card-solutions card-hover">
              <div class="row card-body">          
                <div class="col-2 col-md-1">
                  <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="customRadio1" name="example1" value="customEx">
                    <label class="custom-control-label" for="customRadio1"></label>
                  </div>
                </div>
                <div class="col-10 col-md-8  col-xl-9">
                  <div class="card-title">Support 15/5</div>
                  <BsButton @type="link" class="px-0 py-0" @onClick={{fn (mut this.modal) true}}>
                    Einzelheiten
                  </BsButton>
                </div>
                <div class="price-holder col-10 offset-2 col-md-3 offset-md-0 col-xl-2 d-flex flex-column">
                  <div class="price">249,00 €</div>
                  <label>Additional Text</label>
                </div>                      
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5 mb-9">
          <div class="col-12 col-xl-8 offset-0 offset-xl-2 d-flex justify-content-end">    
            <BsButton @type="primary" @onClick={{fn (mut this.simple) true}} class="w-100 w-md-auto">zum Angebot hinzufügen</BsButton>
          </div>
        </div>
      </tab.pane>
      <tab.pane @id="services" @title="Service Options">
        <div class="row">
          <div class="col text-center mb-5 mb-md-9">
            <h4>Service Options</h4>
            <p>Wählen Sie die gewünschten Supportleistungen für Ihr Angebot. Sie können mehrere Produkte auswählen.</p>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-12 offset-0 col-xl-8 offset-xl-2">
            <div class="card card-solutions card-hover">
              <div class="row card-body">          
                <div class="col-2 col-md-1">
                  <div class="custom-control custom-checkbox pt-2 pt-md-0">
                    <input type="checkbox" class="custom-control-input" id="customCheck4" name="example4">
                    <label class="custom-control-label" for="customCheck4"></label>
                  </div>
                </div>
                <div class="col-10 col-md-4 col-lg-4 col-xl-5">
                  <div class="card-title">Hosting Sentry</div>
                  <BsButton @type="link" class="px-0 py-0" @onClick={{fn (mut this.modal) true}}>
                    Einzelheiten
                  </BsButton>
                </div>
                <div class="price-holder col-10 offset-2 col-md-3 offset-md-0 col-xl-2 d-flex flex-column">
                  <div class="price">249,00 €</div>
                  <label>Additional Text</label>
                </div>
                <div class="col-10 offset-2 col-md-4 offset-md-0 d-flex justify-content-start justify-content-md-end">
                  <form>             
                    <Inputs::Counter
                      @label={{this.value}}
                      @placeholder="1"
                      @min="1"
                      @max="999"
                      @value={{this.value}}
                      @onChange={{fn (mut this.value)}}
                    />
                  </form> 
                </div>      
              </div>
            </div>
          </div>
        </div>
         <div class="row mb-4">
          <div class="col-12 offset-0 col-xl-8 offset-xl-2">
            <div class="card card-solutions card-hover">
              <div class="row card-body">          
                <div class="col-2 col-md-1">
                  <div class="custom-control custom-checkbox pt-2 pt-md-0">
                    <input type="checkbox" class="custom-control-input" id="customCheck9" name="example9">
                    <label class="custom-control-label" for="customCheck9"></label>
                  </div>
                </div>
                <div class="col-10 col-md-8  col-xl-9">
                  <div class="card-title">High availability</div>
                  <BsButton @type="link" class="px-0 py-0" @onClick={{fn (mut this.modal) true}}>
                    Einzelheiten
                  </BsButton>
                </div>
                <div class="price-holder col-10 offset-2 col-md-3 offset-md-0 col-xl-2 d-flex flex-column">
                  <div class="price">249,00 €</div>
                  <label>Additional Text</label>
                </div>                      
              </div>
            </div>
          </div>
        </div>
         <div class="row mb-4">
          <div class="col-12 offset-0 col-xl-8 offset-xl-2">
            <div class="card card-solutions card-hover">
              <div class="row card-body">          
                <div class="col-2 col-md-1">
                  <div class="custom-control custom-checkbox pt-2 pt-md-0">
                    <input type="checkbox" class="custom-control-input" id="customCheck8" name="example8">
                    <label class="custom-control-label" for="customCheck8"></label>
                  </div>
                </div>
                <div class="col-10 col-md-8  col-xl-9">
                  <div class="card-title">Staging Options</div>
                  <BsButton @type="link" class="px-0 py-0" @onClick={{fn (mut this.modal) true}}>
                    Einzelheiten
                  </BsButton>
                </div>
                <div class="price-holder col-10 offset-2 col-md-3 offset-md-0 col-xl-2 d-flex flex-column">
                  <div class="price">249,00 €</div>
                  <label>Additional Text</label>
                </div>                      
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5 mb-9">
          <div class="col-12 col-xl-8 offset-0 offset-xl-2 d-flex justify-content-end">    
            <BsButton @type="primary" @onClick={{fn (mut this.simple) true}} class="w-100 w-md-auto">zum Angebot hinzufügen</BsButton>
          </div>
        </div>
      </tab.pane>
      <tab.pane @id="subscription" @title="Subscription Addons">
        <div class="row">
          <div class="col text-center mb-5 mb-md-9">
            <h4>MTD Options</h4>
            <p>Wählen Sie eine Option.</p>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-12 offset-0 col-xl-8 offset-xl-2">
            <div class="card card-solutions card-hover">
              <div class="row card-body">          
                <div class="col-2 col-md-1">
                  <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="customRadio5" name="example5" value="customEx">
                    <label class="custom-control-label" for="customRadio5"></label>
                  </div>
                </div>
                <div class="col-10 col-md-8  col-xl-9">
                  <labe>(MTD)</labe>
                  <div class="card-title">MobileIron Threat Defense</div>
                  <BsButton @type="link" class="px-0 py-0" @onClick={{fn (mut this.modal) true}}>
                    Einzelheiten
                  </BsButton>
                </div>
                <div class="price-holder col-10 offset-2 col-md-3 offset-md-0 col-xl-2 d-flex flex-column">
                  <div class="price">249,00 €</div>
                  <label>Additional Text</label>
                </div>                      
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-12 offset-0 col-xl-8 offset-xl-2">
            <div class="card card-solutions card-hover">
              <div class="row card-body">          
                <div class="col-2 col-md-1">
                  <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="customRadio6" name="example6" value="customEx">
                    <label class="custom-control-label" for="customRadio6"></label>
                  </div>
                </div>
                <div class="col-10 col-md-8  col-xl-9">
                  <labe>Premium (MTD)</labe>
                  <div class="card-title">MobileIron Threat Defense</div>
                  <BsButton @type="link" class="px-0 py-0" @onClick={{fn (mut this.modal) true}}>
                    Einzelheiten
                  </BsButton>
                </div>
                <div class="price-holder col-10 offset-2 col-md-3 offset-md-0 col-xl-2 d-flex flex-column">
                  <div class="price">249,00 €</div>
                  <label>Additional Text</label>
                </div>                      
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5 mb-5 mb-md-9">
          <div class="col-12 col-xl-8 offset-0 offset-xl-2 d-flex justify-content-end">    
            <BsButton @type="primary" @onClick={{fn (mut this.simple) true}} class="w-100 w-md-auto">zum Angebot hinzufügen</BsButton>
          </div>
        </div>
        <div class="row">
          <div class="col text-center mb-5 mb-md-9">
            <h4>Additional Option</h4>
            <p>Sie können diese Option zu Ihrem Angebot hinzufügen.</p>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-12 offset-0 col-xl-8 offset-xl-2">
            <div class="card card-solutions card-hover">
              <div class="row card-body">          
                <div class="col-2 col-md-1">
                  <div class="custom-control custom-checkbox pt-2 pt-md-0">
                    <input type="checkbox" class="custom-control-input" id="customCheck7" name="example7">
                    <label class="custom-control-label" for="customCheck7"></label>
                  </div>
                </div>
                <div class="col-10 col-md-8  col-xl-9">
                  <div class="card-title">Zero Sign On</div>
                  <BsButton @type="link" class="px-0 py-0" @onClick={{fn (mut this.modal) true}}>
                    Einzelheiten
                  </BsButton>
                </div>
                <div class="price-holder col-10 offset-2 col-md-3 offset-md-0 col-xl-2 d-flex flex-column">
                  <div class="price">249,00 €</div>
                  <label>Additional Text</label>
                </div>                      
              </div>
            </div>
          </div>
        </div>

      </tab.pane>
    </div>
  </BsTab>
</div>

<div class="container-fluid bg-white shadow">
  <div class="container py-4 d-flex align-items-center flex-column flex-md-row justify-content-md-between"> 
    <LinkTo @route="examples.offer-config-wizard-step-02" class="btn btn-ghost w-100 w-md-auto mb-4 mb-md-0">
      Züruck
    </LinkTo>
    <LinkTo @route="examples.offer-config-wizard-step-04-overview" class="btn btn-primary w-100 w-md-auto">Fertig</LinkTo>    
  </div>
</div>


<BsAlert @type="success" @visible={{if this.simple true false}} @fade={{true}} class="fixed-bottom">
  <div class="alert-icon-container">
    <div class="icon">
      <i class="ebf ebf-check-mark-circle-full"></i>
    </div>
  </div>
  <div class="alert-body">
    <h6 class="alert-title">Item successfully added</h6>
    <p class="alert-text">Gear4 Cover Crystal Palace iPhone 11 Pro has been added to the offer.</p>
  </div>             
</BsAlert> 

<BsModal
  @size="xl"
  @open={{if this.modal true false}}
  @onSubmit={{fn (mut this.modal) false}}
  @onHidden={{fn (mut this.modal) false}}
  as |modal| >
  <modal.header>
    <h3 class="modal-title font-weight-bold">Lorem ipsum dolor sit amet</h3>
  </modal.header>
  <modal.body>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a vestibulum mauris, mattis viverra nunc. Mauris pulvinar purus id porta pharetra. Nunc consectetur, arcu eget faucibus tempor, tortor lacus elementum est, in sollicitudin velit ipsum in lorem. Nam posuere eu leo at ornare. Fusce convallis tempus lacus, vel consequat orci fermentum sed. Proin sit amet urna varius, porttitor nisl sit amet, gravida est. Praesent dapibus semper nisi in blandit. Sed rutrum laoreet ligula sit amet tristique. Integer malesuada enim semper sapien elementum mollis. Sed iaculis eros at odio hendrerit elementum. Nullam aliquet varius sagittis.
  </modal.body>
  <modal.footer class="d-flex justify-content-center">
    <BsButton @onClick={{fn modal.close}} @type="ghost" class="mr-0 mr-md-2 w-100 w-md-auto">Abbrechen</BsButton>
    <BsButton @type="primary" @onClick={{fn (mut this.simple) true}} class="w-100 w-md-auto">zum Angebot hinzufügen</BsButton>
  </modal.footer>
</BsModal>


<BsButton @type="ghost" class="btn-icon btn-round shadow summary-popover-trigger">
  <Icon::Ebf @icon="ebf-list" /> 
  <BsPopover @placement="top" @title="Zusammenfassung" class="summary-popover">
    <div class="row customer-details row-bb">
      <div class="col-4">Number:</div>
      <div class="col-8"><strong>274862</strong></div>
      <div class="col-4">Name:</div>
      <div class="col-8"><strong>Projekt Domspitze</strong></div>
      <div class="col-4">Customer:</div>
      <div class="col-8"><strong>TÜV Rheinland AG</strong></div>
    </div>
    <div class="row items">
      <div class="col">
        <div class="row item-row row-bb">
          <div class="col-10">
            <Icon::Ebf @icon="ebf-check-mark mr-2" />
            <p>Apple iPhone 12 Max Pro, White, 128 GB</p>            
          </div>
          <div class="col-2">
            <Icon::Ebf @icon="ebf-cancel" />
          </div>
          <div class="col-12">
            <label>Quantity: 22</label>
          </div>
        </div>
        <div class="row item-row row-bb">
          <div class="col-10">
            <Icon::Ebf @icon="ebf-check-mark mr-2" />
            <p>Apple iPhone 12 Max Pro, White, 128 GB</p>
          </div>
          <div class="col-2">
            <Icon::Ebf @icon="ebf-cancel" />
          </div>
          <div class="col-12">
            <label>Quantity: 22</label>
          </div>
        </div>
        <div class="row item-row row-bb">
          <div class="col-10">
            <Icon::Ebf @icon="ebf-check-mark mr-2" />
            <p>Apple iPhone 12 Max Pro, White, 128 GB</p>
          </div>
          <div class="col-2">
            <Icon::Ebf @icon="ebf-cancel" />
          </div>
          <div class="col-12">
            <label>Quantity: 22</label>
          </div>
        </div>
        <div class="row item-row row-bb">
          <div class="col-10">
            <Icon::Ebf @icon="ebf-check-mark mr-2" />
            <p>Apple iPhone 12 Max Pro, White, 128 GB</p>
          </div>
          <div class="col-2">
            <Icon::Ebf @icon="ebf-cancel" />
          </div>
          <div class="col-12">
            <label>Quantity: 22</label>
          </div>
        </div>
        <div class="row item-row row-bb">
          <div class="col-10">
            <Icon::Ebf @icon="ebf-check-mark mr-2" />
            <p>Apple iPhone 12 Max Pro, White, 128 GB</p>
          </div>
          <div class="col-2">
            <Icon::Ebf @icon="ebf-cancel" />
          </div>
          <div class="col-12">
            <label>Quantity: 22</label>
          </div>
        </div>
        <div class="row item-row row-bb">
          <div class="col-10">
            <Icon::Ebf @icon="ebf-check-mark mr-2" />
            <p>Apple iPhone 12 Max Pro, White, 128 GB</p>
          </div>
          <div class="col-2">
            <Icon::Ebf @icon="ebf-cancel" />
          </div>
          <div class="col-12">
            <label>Quantity: 22</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row total">
      <div class="col">
        Total 116,93 €
      </div>
    </div>    
  </BsPopover>
</BsButton>