<div class="double-navbar-container sticky-top">
  <BsNavbar 
    @type="light"
    @backgroundColor="white"
    @collapsed={{true}}
    @fluid={{true}}
    class="sticky-top shadow-sm border-top-primary"  as |navbar|>
    <div class="navbar-header mr-auto">
      <LinkTo @route="examples.login" class="navbar-brand">
        <img src="/telekom-logo-magenta.svg"/ alt="Deutsche Telekom AG">
        <span class="label">Erleben, was verbindet.</span>
      </LinkTo>
      <navbar.toggle />
    </div>     
    <navbar.content class="ml-auto flex-grow-0">
      <navbar.nav class="flex-nowrap" as |nav|>
        <nav.item>
          <nav.link-to @route="index"><Icon::Ebf @icon="ebf-bell" /></nav.link-to>
        </nav.item>
        <nav.item>
          <nav.link-to @route="index"><Icon::Ebf @icon="ebf-settings" /></nav.link-to>
        </nav.item>
        <nav.item>
          <nav.link-to @route="index"><Icon::Ebf @icon="ebf-user" /></nav.link-to>
        </nav.item>
        <nav.item>
          <nav.link-to @route="index"><Icon::Ebf @icon="ebf-link-01" /></nav.link-to>
        </nav.item>
      </navbar.nav>
    </navbar.content>
  </BsNavbar>
  <BsNavbar 
  @type="light"
    @backgroundColor="white"
    @collapsed={{true}}
    @fluid={{true}}
     class="shadow-sm" as |navbar|>     
      <navbar.toggle class="mr-auto" />      
      <navbar.content class="flex-grow-1">
        <navbar.nav as |nav|>
          <nav.item>
            <nav.link-to @route="examples.webshop" class="active">Produkte</nav.link-to>
          </nav.item>
          <nav.item>
            <nav.link-to @route="examples.cost-center">Kostentelle</nav.link-to>
          </nav.item>
          <nav.item>
            <nav.link-to @route="examples.address-management">Adressmanagement</nav.link-to>
          </nav.item>
          <nav.item>
            <nav.link-to @route="examples.orders">Bestellungen</nav.link-to>
          </nav.item>
          <nav.item>
            <nav.link-to @route="examples.saved-shopping-cart-empty-state">Bestellvorlagen</nav.link-to>
          </nav.item>
        </navbar.nav>
      </navbar.content>
      <navbar.content class="ml-auto flex-grow-0">
        <navbar.nav as |nav|>           
          <nav.item>
            <nav.link-to @route="index"><Icon::Ebf @icon="ebf-settings" /></nav.link-to>
          </nav.item>            
        </navbar.nav>
      </navbar.content>    
  </BsNavbar>
</div>

<div class="container-fluid bg-gray-100">
  <div class="container py-9">    
    <div class="row">
      <div class="col-10">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><LinkTo @route="examples.dashboard" data-text="Dashboard">Dashboard</LinkTo></li>
            <li class="breadcrumb-item"><LinkTo @route="examples.webshop-search" data-text="Webshop">Webshop</LinkTo></li>
          </ol>
        </nav>
        <h2>Webshop</h2>
        <p class="mb-0">Bitte wählen Sie aus den folgenden Geräten</p>
      </div>
      <div class="col-2 d-flex align-items-end justify-content-end">
        <div class="d-flex flex-column w-100">
          <label>Rahmenvertrag</label>
          <BsDropdown as |dd|>
            <dd.button class="btn btn-outline dropdown-toggle-fw text-left">
              Dropdown              
            </dd.button>
            <dd.menu as |menu|>
              <menu.item>
                <menu.link-to @route="examples.dashboard">Contract 1</menu.link-to>
              </menu.item>
              <menu.item>
                <menu.link-to @route="examples.dashboard">Contract 2</menu.link-to>
              </menu.item>
            </dd.menu>
          </BsDropdown>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mt-5">
    <div class="col-6 d-flex align-items-end">    
      <div class="w-100">
        <Inputs::Search
          @placeholder="Enter your search query"
          @value={{this.search}}
          @onChange={{fn (mut this.search)}}
          class="form-group align-self-end mb-0"
        />  
      </div> 
    </div>
    <div class="col-4">
      <div class="w-100 d-flex flex-column">
        <label>Sortieren</label>
        <BsDropdown as |dd|>
          <dd.button class="btn btn-outline dropdown-toggle-fw text-left">
            Beliebteste            
          </dd.button>
          <dd.menu as |menu|>
            <menu.item>
              <menu.link-to @route="examples.dashboard">Contract 1</menu.link-to>
            </menu.item>
            <menu.item>
              <menu.link-to @route="examples.dashboard">Contract 2</menu.link-to>
            </menu.item>
          </dd.menu>
        </BsDropdown>
      </div>
    </div>
    <div class="col-2 d-flex align-items-end">
      <div class="w-100 d-flex flex-column">
        <BsDropdown class="text-right" as |dd|>
          <dd.toggle>
            Filter einblenden            
          </dd.toggle>          
        </BsDropdown>
      </div>
    </div>
  </div>
  <div class="row mt-5 mb-9">
    <div class="col-6">
      <div class="d-flex flex-column w-100">
        <label>Hersteller</label>
        <BsDropdown as |dd|>
          <dd.button class="btn btn-outline dropdown-toggle-fw text-left">
            Alle            
          </dd.button>
          <dd.menu as |menu|>
            <menu.item>
              <menu.link-to @route="examples.dashboard">Something 1</menu.link-to>
            </menu.item>
            <menu.item>
              <menu.link-to @route="examples.dashboard">Something 2</menu.link-to>
            </menu.item>
          </dd.menu>
        </BsDropdown>
      </div>
    </div>
    <div class="col-6">
      <div class="w-100 d-flex flex-column">
        <label>Eigenschaften</label>
        <BsDropdown as |dd|>
          <dd.button class="btn btn-outline dropdown-toggle-fw text-left">
            Kein Filter            
          </dd.button>
          <dd.menu as |menu|>
            <menu.item>
              <menu.link-to @route="examples.dashboard">Something 1</menu.link-to>
            </menu.item>
            <menu.item>
              <menu.link-to @route="examples.dashboard">Something 2</menu.link-to>
            </menu.item>
          </dd.menu>
        </BsDropdown>
      </div>
    </div>
  </div>
  <div class="row mb-9">
    <div class="col-12 text-center">
      <LinkTo @route="examples.webshop" data-text="Dashboard">
        <img class="m-auto img-fluid py-8" src="/dummy-images/no-webshop-results.svg" alt="Telekom Webshop">
      </LinkTo>      
      <h5>Wir konnten keine passenden Produkte für Sie finden.</h5>
      <p>Lorem ipsum dolor sit amet</p>
    </div>
  </div> 
</div>
