<nav aria-label={{bs-default @label (t "pagination.label")}}>
  <ul class="pagination" ...attributes>
    {{!-- first page link --}}
    <li class="page-item page-first {{unless this.hasPrevious 'disabled'}}">
      <LinkTo
        @query={{hash size=this.currentSize page=1}}
        class="page-link"
        disabled={{not this.hasPrevious}}
        aria-label={{t "pagination.last"}}
        aria-disabled={{not this.hasPrevious}}
      >
        <Icon::Ebf @icon="ebf-chevrons-left" />
      </LinkTo>
    </li>

    {{!-- previous page link --}}
    <li class="page-item page-previous {{unless this.hasPrevious 'disabled'}}">
      <LinkTo
        @query={{hash size=this.currentSize page=this.previousPage}}
        class="page-link"
        disabled={{not this.hasPrevious}}
        aria-label={{t "pagination.previous"}}
        aria-disabled={{not this.hasPrevious}}
      >
        <Icon::Ebf @icon="ebf-chevron-left" />
      </LinkTo>
    </li>

    {{!-- links with clickable pages --}}
    {{#each this.pages as |page|}}
      <li class="page-item page-page {{if page.disabled "active"}}" aria-current={{if page.disabled "page"}}>
        <LinkTo
          @query={{hash size=this.currentSize page=page.value}}
          class="page-link"
          disabled={{page.disabled}}
          aria-disabled={{page.disabled}}
        >
          {{page.value}}
        </LinkTo>
      </li>
    {{/each}}

    {{!-- next page link --}}
    <li class="page-item page-next {{unless this.hasNext 'disabled'}}">
      <LinkTo
        @query={{hash size=this.currentSize page=this.nextPage}}
        class="page-link"
        disabled={{not this.hasNext}}
        aria-label={{t "pagination.next"}}
        aria-disabled={{not this.hasNext}}
      >
        <Icon::Ebf @icon="ebf-chevron-right" />
      </LinkTo>
    </li>

    {{!-- last page link --}}
    <li class="page-item page-last {{unless this.hasNext 'disabled'}}">
      <LinkTo
        @query={{hash size=this.currentSize page=this.totalPages}}
        class="page-link"
        disabled={{not this.hasNext}}
        aria-label={{t "pagination.last"}}
        aria-disabled={{not this.hasNext}}
      >
        <Icon::Ebf @icon="ebf-chevrons-right" />
      </LinkTo>
    </li>

    {{!-- total records --}}
    <li class="page-item disabled page-total">
      <span class="page-link">
        {{t "pagination.total" total=this.totalResults}}
      </span>
    </li>

    {{!-- page size selection --}}
    <li class="page-item pagination-select">
      <select class="page-link" aria-label={{t "pagination.select-size"}} onchange={{fn this.onSize}}>
        {{#each this.sizes as |size|}}
          <option value={{size}} selected={{eq this.currentSize size}}>
            {{size}}
          </option>
        {{/each}}
      </select>
    </li>
  </ul>
</nav>