<div class="notification-custom">
  <div class="notification-icon">
    <Icon::Ebf @icon={{bs-default @icon "ebf-bell"}} />
  </div>
  <div class="notification-details">
    {{#if @title}}
      <p class="mb-2 font-weight-bolder">{{@title}}</p>
    {{/if}}

    {{#if @text}}
      <p class="mb-2">{{@text}}</p>
    {{/if}}

    {{#if @date}}
      <small class="text-muted">{{moment-format @date "LLL"}}</small>
    {{/if}}
  </div>
  {{#if @onDismiss}}
    <div class="notification-close">
      <Icon::Ebf @icon="ebf-cancel p-1" @onClick={{disable-bubbling (fn @onDismiss)}} />
    </div>
  {{/if}}
</div>